# Transformación, filtración y ordenamiento de datos

### 1. Revisión de tipos de datos de los dos dataFrames

#### DF Mintic

In [322]:
df_mintic_v2.dtypes

id                  object
FECHA_CORTE         object
DEPARTAME_NOMBRE    object
MUNICIPIO_NOMBRE    object
ESTADO_FORMACION    object
ESTADOS             object
ESTRATO_SOCIAL      object
EDAD                object
GENERO              object
RUTA                object
GRADO               object
dtype: object

In [323]:
df_mintic_v2.head(3)

,id,FECHA_CORTE,DEPARTAME_NOMBRE,MUNICIPIO_NOMBRE,ESTADO_FORMACION,ESTADOS,ESTRATO_SOCIAL,EDAD,GENERO,RUTA,GRADO
0,00000000-0000-0000-C200-BA92F054D3BD,2021-10-01,QUINDIO,ARMENIA,ASPIRANTE,ASPIRANTES,3,29,MASCULINO,RUTA 2,-1
1,00000000-0000-0000-99AA-2E3888BFFB24,2021-10-01,QUINDIO,ARMENIA,ASPIRANTE,ASPIRANTES,3,29,MASCULINO,RUTA 2,-1
2,00000000-0000-0000-D72E-7CF7C7526A22,2021-10-01,QUINDIO,ARMENIA,ASPIRANTE,ASPIRANTES,3,29,MASCULINO,RUTA 2,-1

Para el DF de Mintic se modificarán los tipos de datos:
* Estrato_social: moddificación a int
* Edad: modificación a int
* Grado: modificación a int

In [324]:
diccionario_de_conversion_mintic = {
    "ESTRATO_SOCIAL":"int64",
    "EDAD":"int64",
    "GRADO":"int64"
}

In [325]:
df_mintic_v3 = df_mintic_v2
try:
    df_mintic_v3 = df_mintic_v2.astype(diccionario_de_conversion_mintic)
except ValueError as e:
    print(type(e))
    
df_mintic_v3.dtypes

<class 'ValueError'>

id                  object
FECHA_CORTE         object
DEPARTAME_NOMBRE    object
MUNICIPIO_NOMBRE    object
ESTADO_FORMACION    object
ESTADOS             object
ESTRATO_SOCIAL      object
EDAD                object
GENERO              object
RUTA                object
GRADO               object
dtype: object

In [326]:
df_mintic_v3["ESTRATO_SOCIAL"].unique()

array(['3', '1', '2', '4', 'a', '5', '6'], dtype=object)

Me genera error en el estrato social al tratar de convertir a entero, ya que tiene un valor "a".
Se procederá a modificar todos los valores a de esta columna al valor 0, el cuan indicará que no tiene estrato social asignado

In [327]:
# Se aplica el cambio en la versión 2
df_mintic_v2.loc[df_mintic_v2.ESTRATO_SOCIAL=="a",'ESTRATO_SOCIAL'] = 0
df_mintic_v2["ESTRATO_SOCIAL"].unique()

array(['3', '1', '2', '4', 0, '5', '6'], dtype=object)

In [328]:
df_mintic_v3 = df_mintic_v2
try:
    df_mintic_v3 = df_mintic_v2.astype(diccionario_de_conversion_mintic)
except ValueError as e:
    print(type(e))
    
df_mintic_v3.dtypes

id                  object
FECHA_CORTE         object
DEPARTAME_NOMBRE    object
MUNICIPIO_NOMBRE    object
ESTADO_FORMACION    object
ESTADOS             object
ESTRATO_SOCIAL       int64
EDAD                 int64
GENERO              object
RUTA                object
GRADO                int64
dtype: object

In [329]:
df_mintic_v3.head(3)

,id,FECHA_CORTE,DEPARTAME_NOMBRE,MUNICIPIO_NOMBRE,ESTADO_FORMACION,ESTADOS,ESTRATO_SOCIAL,EDAD,GENERO,RUTA,GRADO
0,00000000-0000-0000-C200-BA92F054D3BD,2021-10-01,QUINDIO,ARMENIA,ASPIRANTE,ASPIRANTES,3,29,MASCULINO,RUTA 2,-1
1,00000000-0000-0000-99AA-2E3888BFFB24,2021-10-01,QUINDIO,ARMENIA,ASPIRANTE,ASPIRANTES,3,29,MASCULINO,RUTA 2,-1
2,00000000-0000-0000-D72E-7CF7C7526A22,2021-10-01,QUINDIO,ARMENIA,ASPIRANTE,ASPIRANTES,3,29,MASCULINO,RUTA 2,-1

#### DF Saber 11

In [256]:
df_saber_union_v1.dtypes

id                               object
ESTU_NACIONALIDAD                object
ESTU_GENERO                      object
ESTU_FECHANACIMIENTO             object
ESTU_CONSECUTIVO                 object
ESTU_PAIS_RESIDE                 object
ESTU_DEPTO_RESIDE                object
ESTU_COD_RESIDE_DEPTO            object
ESTU_MCPIO_RESIDE                object
ESTU_COD_RESIDE_MCPIO            object
FAMI_ESTRATOVIVIENDA             object
FAMI_TIENEINTERNET               object
FAMI_TIENECOMPUTADOR             object
FAMI_SITUACIONECONOMICA          object
ESTU_DEDICACIONINTERNET          object
PUNT_LECTURA_CRITICA             object
PERCENTIL_LECTURA_CRITICA        object
DESEMP_LECTURA_CRITICA           object
PUNT_MATEMATICAS                 object
PERCENTIL_MATEMATICAS            object
DESEMP_MATEMATICAS               object
PUNT_C_NATURALES                 object
PERCENTIL_C_NATURALES            object
DESEMP_C_NATURALES               object
PUNT_SOCIALES_CIUDADANAS         object
PERCENTIL_SOCIALES_CIUDADANAS    object
DESEMP_SOCIALES_CIUDADANAS       object
PUNT_INGLES                      object
PERCENTIL_INGLES                 object
DESEMP_INGLES                    object
PUNT_GLOBAL                      object
PERCENTIL_GLOBAL                 object
dtype: object

In [257]:
df_saber_union_v1.head(3)

,id,ESTU_NACIONALIDAD,ESTU_GENERO,ESTU_FECHANACIMIENTO,ESTU_CONSECUTIVO,ESTU_PAIS_RESIDE,ESTU_DEPTO_RESIDE,ESTU_COD_RESIDE_DEPTO,ESTU_MCPIO_RESIDE,ESTU_COD_RESIDE_MCPIO,...,PERCENTIL_C_NATURALES,DESEMP_C_NATURALES,PUNT_SOCIALES_CIUDADANAS,PERCENTIL_SOCIALES_CIUDADANAS,DESEMP_SOCIALES_CIUDADANAS,PUNT_INGLES,PERCENTIL_INGLES,DESEMP_INGLES,PUNT_GLOBAL,PERCENTIL_GLOBAL
0,00000000-0000-0000-B30A-5F2FE234EE93,COLOMBIA,F,1985-01-01T00:00:00,SB11202010045555,COLOMBIA,CESAR,20,SAN DIEGO,20750,...,6,1,24,1,1,36,7,A-,164,2
1,00000000-0000-0000-F3E5-3E18272D8C28,COLOMBIA,F,1995-01-01T00:00:00,SB11202010045719,COLOMBIA,NARIÑO,52,IPIALES,52356,...,10,1,44,23,2,30,3,A-,202,10
2,00000000-0000-0000-2E67-572B8AFB010B,COLOMBIA,F,1997-01-01T00:00:00,SB11202010070662,COLOMBIA,CAUCA,19,TOTORÓ,19824,...,4,1,24,1,1,30,3,A-,162,2

### Se revisan las columnas de Saber 11 según conveniencia y compativilidad con Mintic

La columna "FAMI_ESTRATOVIVIENDA" se transforma a numerica según el texto, para tener relación con la tabla Mintic: El estrato 'None' y 'Sin Estrato', serán transformados en 0

In [258]:
df_saber_union_v1["FAMI_ESTRATOVIVIENDA"].unique()

array(['Estrato 1', None, 'Estrato 6', 'Estrato 5', 'Estrato 2',
       'Estrato 4', 'Estrato 3', 'Sin Estrato'], dtype=object)

In [330]:
#Revisando data de Mintic
df_mintic_v3["ESTRATO_SOCIAL"].unique()

array([3, 1, 2, 4, 0, 5, 6], dtype=int64)

In [260]:
conver_estrato = {
    'Estrato 1': 1,
    'Estrato 2': 2,
    'Estrato 3': 3,
    'Estrato 4': 4,
    'Estrato 5': 5,
    'Estrato 6': 6,
    'Sin Estrato': 0,
    None: 0,
}

In [261]:
df_saber_union_v1["FAMI_ESTRATOVIVIENDA"] = df_saber_union_v1["FAMI_ESTRATOVIVIENDA"].map(conver_estrato)
df_saber_union_v1["FAMI_ESTRATOVIVIENDA"].unique()

array([1, 0, 6, 5, 2, 4, 3], dtype=int64)

Tansformamos la fecha de nacimiento 'ESTU_FECHANACIMIENTO' a la edad debido a que la data de Mintic se encuentra como edad y lo dejaremos como entero

In [262]:
from datetime import datetime
from dateutil.relativedelta import relativedelta
import numpy as np

In [263]:
type(datetime.fromisoformat(df_saber_union_v1["ESTU_FECHANACIMIENTO"][0]))

datetime.datetime

In [264]:
fecha_2020 = datetime.fromisoformat('2020-01-01') # tipo datetime.datetime

In [265]:
# Serie Datetime
ser_nac = pd.Series( datetime.fromisoformat(i) for i in df_saber_union_v1["ESTU_FECHANACIMIENTO"] )
ser_nac.head(2)

0    1985-01-01 00:00:00
1    1995-01-01 00:00:00
dtype: object

Restar fecha 2020 a la fecha de nacimiento para conocer la edad

In [266]:
edades = pd.Series( relativedelta(fecha_2020, ser_nac[m]).years for m in range( len(ser_nac) ) )
edades

0         35
1         25
2         23
3         19
4         18
          ..
520302    16
520303    23
520304    14
520305    17
520306    17
Length: 520307, dtype: int64

In [267]:
df_saber_union_v1["ESTU_FECHANACIMIENTO"] = edades
df_saber_union_v1["ESTU_FECHANACIMIENTO"].head(3)

0    35
1    25
2    23
Name: ESTU_FECHANACIMIENTO, dtype: int64

### Se convertiran todas las columnas que contienen 'Si' y 'No' del dataframe Saber11

* FAMI_TIENEINTERNET
* FAMI_TIENECOMPUTADOR

### Se convertiran todas las columnas numericas a enteros en datafreme Seber 11
* PUNT_LECTURA_CRITICA
* PERCENTIL_LECTURA_CRITICA        
* DESEMP_LECTURA_CRITICA           
* PUNT_MATEMATICAS                 
* PERCENTIL_MATEMATICAS            
* DESEMP_MATEMATICAS               
* PUNT_C_NATURALES                 
* PERCENTIL_C_NATURALES            
* DESEMP_C_NATURALES               
* PUNT_SOCIALES_CIUDADANAS         
* PERCENTIL_SOCIALES_CIUDADANAS    
* DESEMP_SOCIALES_CIUDADANAS       
* PUNT_INGLES                      
* PERCENTIL_INGLES                 
* PUNT_GLOBAL                      
* PERCENTIL_GLOBAL

In [268]:
conver_sn = {'No': 0, 'Si': 1, None: None}
conver_sn

{'No': 0, 'Si': 1, None: None}

In [269]:
df_saber_union_v1["FAMI_TIENEINTERNET"] = df_saber_union_v1["FAMI_TIENEINTERNET"].map(conver_sn)
df_saber_union_v1["FAMI_TIENEINTERNET"].unique()

array([ 0., nan,  1.])

In [270]:
df_saber_union_v1["FAMI_TIENEINTERNET"] = df_saber_union_v1["FAMI_TIENEINTERNET"].astype('Int64')
df_saber_union_v1["FAMI_TIENEINTERNET"].unique()

<IntegerArray>
[0, <NA>, 1]
Length: 3, dtype: Int64

In [271]:
df_saber_union_v1["FAMI_TIENECOMPUTADOR"] = df_saber_union_v1["FAMI_TIENECOMPUTADOR"].map(conver_sn)
df_saber_union_v1["FAMI_TIENECOMPUTADOR"].unique()

array([ 0., nan,  1.])

In [272]:
df_saber_union_v1["FAMI_TIENECOMPUTADOR"] = df_saber_union_v1["FAMI_TIENECOMPUTADOR"].astype('Int64')
df_saber_union_v1["FAMI_TIENECOMPUTADOR"].unique()

<IntegerArray>
[0, <NA>, 1]
Length: 3, dtype: Int64

#### Convertir a enteros las calificaciones y puntajes

In [273]:
df_saber_union_v1['PUNT_LECTURA_CRITICA'] = df_saber_union_v1['PUNT_LECTURA_CRITICA'].astype(int)
df_saber_union_v1['PERCENTIL_LECTURA_CRITICA'] = df_saber_union_v1['PERCENTIL_LECTURA_CRITICA'].astype(int)
df_saber_union_v1['DESEMP_LECTURA_CRITICA'] = df_saber_union_v1['DESEMP_LECTURA_CRITICA'].astype(int)
df_saber_union_v1['PUNT_MATEMATICAS'] = df_saber_union_v1['PUNT_MATEMATICAS'].astype(int)
df_saber_union_v1['PERCENTIL_MATEMATICAS'] = df_saber_union_v1['PERCENTIL_MATEMATICAS'].astype(int)
df_saber_union_v1['DESEMP_MATEMATICAS'] = df_saber_union_v1['DESEMP_MATEMATICAS'].astype(int)
df_saber_union_v1['PUNT_C_NATURALES'] = df_saber_union_v1['PUNT_C_NATURALES'].astype(int)
df_saber_union_v1['PERCENTIL_C_NATURALES'] = df_saber_union_v1['PERCENTIL_C_NATURALES'].astype(int)
df_saber_union_v1['DESEMP_C_NATURALES'] = df_saber_union_v1['DESEMP_C_NATURALES'].astype(int)
df_saber_union_v1['PUNT_SOCIALES_CIUDADANAS'] = df_saber_union_v1['PUNT_SOCIALES_CIUDADANAS'].astype(int)
df_saber_union_v1['PERCENTIL_SOCIALES_CIUDADANAS'] = df_saber_union_v1['PERCENTIL_SOCIALES_CIUDADANAS'].astype(int)
df_saber_union_v1['DESEMP_SOCIALES_CIUDADANAS'] = df_saber_union_v1['DESEMP_SOCIALES_CIUDADANAS'].astype(int)
df_saber_union_v1['PERCENTIL_INGLES'] = df_saber_union_v1['PERCENTIL_INGLES'].astype(int)
df_saber_union_v1['PUNT_GLOBAL'] = df_saber_union_v1['PUNT_GLOBAL'].astype(int)

In [274]:
df_saber_union_v1.dtypes

id                               object
ESTU_NACIONALIDAD                object
ESTU_GENERO                      object
ESTU_FECHANACIMIENTO              int64
ESTU_CONSECUTIVO                 object
ESTU_PAIS_RESIDE                 object
ESTU_DEPTO_RESIDE                object
ESTU_COD_RESIDE_DEPTO            object
ESTU_MCPIO_RESIDE                object
ESTU_COD_RESIDE_MCPIO            object
FAMI_ESTRATOVIVIENDA              int64
FAMI_TIENEINTERNET                Int64
FAMI_TIENECOMPUTADOR              Int64
FAMI_SITUACIONECONOMICA          object
ESTU_DEDICACIONINTERNET          object
PUNT_LECTURA_CRITICA              int32
PERCENTIL_LECTURA_CRITICA         int32
DESEMP_LECTURA_CRITICA            int32
PUNT_MATEMATICAS                  int32
PERCENTIL_MATEMATICAS             int32
DESEMP_MATEMATICAS                int32
PUNT_C_NATURALES                  int32
PERCENTIL_C_NATURALES             int32
DESEMP_C_NATURALES                int32
PUNT_SOCIALES_CIUDADANAS          int32
PERCENTIL_SOCIALES_CIUDADANAS     int32
DESEMP_SOCIALES_CIUDADANAS        int32
PUNT_INGLES                      object
PERCENTIL_INGLES                  int32
DESEMP_INGLES                    object
PUNT_GLOBAL                       int32
PERCENTIL_GLOBAL                 object
dtype: object

In [275]:
lista_ing = [int(i) if type(i) == str else np.nan for i in df_saber_union_v1["PUNT_INGLES"]]
ser_int_ing = pd.Series(lista_ing).astype('Int64')
#df_saber_union_v1["PUNT_INGLES"] df_saber_union_v1["PUNT_INGLES"].head()
ser_int_ing.head(3)

0    36
1    30
2    30
dtype: Int64

In [276]:
df_saber_union_v1["PUNT_INGLES"] = ser_int_ing
df_saber_union_v1["PUNT_INGLES"].head()

0    36
1    30
2    30
3    37
4    80
Name: PUNT_INGLES, dtype: Int64

In [277]:
lista_per_global = [int(i) if type(i) == str else np.nan for i in df_saber_union_v1["PERCENTIL_GLOBAL"]]
ser_int_glob = pd.Series(lista_per_global).astype('Int64')
ser_int_glob.head(3)

0     2
1    10
2     2
dtype: Int64

In [278]:
df_saber_union_v1["PERCENTIL_GLOBAL"] = ser_int_glob
df_saber_union_v1["PERCENTIL_GLOBAL"].head()

0     2
1    10
2     2
3     6
4    39
Name: PERCENTIL_GLOBAL, dtype: Int64

In [279]:
df_saber_union_v1.dtypes

id                               object
ESTU_NACIONALIDAD                object
ESTU_GENERO                      object
ESTU_FECHANACIMIENTO              int64
ESTU_CONSECUTIVO                 object
ESTU_PAIS_RESIDE                 object
ESTU_DEPTO_RESIDE                object
ESTU_COD_RESIDE_DEPTO            object
ESTU_MCPIO_RESIDE                object
ESTU_COD_RESIDE_MCPIO            object
FAMI_ESTRATOVIVIENDA              int64
FAMI_TIENEINTERNET                Int64
FAMI_TIENECOMPUTADOR              Int64
FAMI_SITUACIONECONOMICA          object
ESTU_DEDICACIONINTERNET          object
PUNT_LECTURA_CRITICA              int32
PERCENTIL_LECTURA_CRITICA         int32
DESEMP_LECTURA_CRITICA            int32
PUNT_MATEMATICAS                  int32
PERCENTIL_MATEMATICAS             int32
DESEMP_MATEMATICAS                int32
PUNT_C_NATURALES                  int32
PERCENTIL_C_NATURALES             int32
DESEMP_C_NATURALES                int32
PUNT_SOCIALES_CIUDADANAS          int32
PERCENTIL_SOCIALES_CIUDADANAS     int32
DESEMP_SOCIALES_CIUDADANAS        int32
PUNT_INGLES                       Int64
PERCENTIL_INGLES                  int32
DESEMP_INGLES                    object
PUNT_GLOBAL                       int32
PERCENTIL_GLOBAL                  Int64
dtype: object

In [280]:
df_saber_union_v1['ESTU_FECHANACIMIENTO'].unique()

array([  35,   25,   23,   19,   18,   37,   30,   20,   17, 2018,   22,
         21,   39,   26,   24,   36,   43,   27,   50,   33,   32,   45,
         42,   31,   28,   34,   48,   29,   57,   51,   47,   40,   38,
         14,   52, 1932,   15,   44,   60,   41,   16,   49,   55,   61,
         53, 2017,   54,   46,   58,   10,   56,    9,  120,   64, 1923,
       1934,    0, 1939, 2016, 1921, 1920, 2008, 2019, 2015,    1, 2014,
          8,    3,   12,   11, 2013, 2010,    6,   13,   66,    7,   68,
         74,   62,   67,   59,   65,  824,   63,    5,   73,    4,   75,
         78,   79,   71,   69,   80,   70,   72], dtype=int64)

Función para convertir edades no lógicas a vacíos

In [286]:
def conv_edad(edad):
    if edad > 99 or edad <= 9:
        return np.nan
    else:
        return edad

In [288]:
lista_edades_nuevas = [conv_edad(i) for i in df_saber_union_v1['ESTU_FECHANACIMIENTO']]

In [289]:
df_saber_union_v1['ESTU_FECHANACIMIENTO'] = lista_edades_nuevas
df_saber_union_v1['ESTU_FECHANACIMIENTO'].head(3)

0    35.0
1    25.0
2    23.0
Name: ESTU_FECHANACIMIENTO, dtype: float64

In [291]:
ser_int_Fnac = pd.Series(df_saber_union_v1['ESTU_FECHANACIMIENTO']).astype('Int64')
ser_int_Fnac

0         35
1         25
2         23
3         19
4         18
          ..
520302    16
520303    23
520304    14
520305    17
520306    17
Name: ESTU_FECHANACIMIENTO, Length: 520307, dtype: Int64

In [296]:
df_saber_union_v1['ESTU_FECHANACIMIENTO'] = ser_int_Fnac
df_saber_union_v1['ESTU_FECHANACIMIENTO'].unique()

<IntegerArray>
[  35,   25,   23,   19,   18,   37,   30,   20,   17, <NA>,   22,   21,   39,
   26,   24,   36,   43,   27,   50,   33,   32,   45,   42,   31,   28,   34,
   48,   29,   57,   51,   47,   40,   38,   14,   52,   15,   44,   60,   41,
   16,   49,   55,   61,   53,   54,   46,   58,   10,   56,   64,   12,   11,
   13,   66,   68,   74,   62,   67,   59,   65,   63,   73,   75,   78,   79,
   71,   69,   80,   70,   72]
Length: 70, dtype: Int64

#### Cambio de nombre de la columna, ya que representa la edad y ya no representa la fecha de nacimiento

In [294]:
df_saber_union_v2 = df_saber_union_v1.rename(columns={'ESTU_FECHANACIMIENTO':'ESTU_EDAD'})
df_saber_union_v2.dtypes

id                               object
ESTU_NACIONALIDAD                object
ESTU_GENERO                      object
ESTU_EDAD                         Int64
ESTU_CONSECUTIVO                 object
ESTU_PAIS_RESIDE                 object
ESTU_DEPTO_RESIDE                object
ESTU_COD_RESIDE_DEPTO            object
ESTU_MCPIO_RESIDE                object
ESTU_COD_RESIDE_MCPIO            object
FAMI_ESTRATOVIVIENDA              int64
FAMI_TIENEINTERNET                Int64
FAMI_TIENECOMPUTADOR              Int64
FAMI_SITUACIONECONOMICA          object
ESTU_DEDICACIONINTERNET          object
PUNT_LECTURA_CRITICA              int32
PERCENTIL_LECTURA_CRITICA         int32
DESEMP_LECTURA_CRITICA            int32
PUNT_MATEMATICAS                  int32
PERCENTIL_MATEMATICAS             int32
DESEMP_MATEMATICAS                int32
PUNT_C_NATURALES                  int32
PERCENTIL_C_NATURALES             int32
DESEMP_C_NATURALES                int32
PUNT_SOCIALES_CIUDADANAS          int32
PERCENTIL_SOCIALES_CIUDADANAS     int32
DESEMP_SOCIALES_CIUDADANAS        int32
PUNT_INGLES                       Int64
PERCENTIL_INGLES                  int32
DESEMP_INGLES                    object
PUNT_GLOBAL                       int32
PERCENTIL_GLOBAL                  Int64
dtype: object

In [295]:
[df_saber_union_v2[col].unique() for col in df_saber_union_v2.columns]

[array(['00000000-0000-0000-B30A-5F2FE234EE93',
        '00000000-0000-0000-F3E5-3E18272D8C28',
        '00000000-0000-0000-2E67-572B8AFB010B', ...,
        '00000000-0000-0000-2F10-A90012384309',
        '00000000-0000-0000-03B3-B2EA58E0923E',
        '00000000-0000-0000-2054-CB6AE8FC9320'], dtype=object),
 array(['COLOMBIA', 'ESPAÑA', 'ESTADOS UNIDOS', 'HONDURAS',
        'PAÍSES BAJOS - HOLANDA', 'ALEMANIA', 'ARGENTINA', 'BRASIL',
        'CHILE', 'COREA DEL NORTE', 'CUBA', 'ECUADOR', 'EL SALVADOR',
        'FRANCIA', 'GUATEMALA', 'HAITI', 'ITALIA', 'MÉXICO', 'NICARAGUA',
        'PORTUGAL', 'VENEZUELA', 'SUIZA', 'PERÚ', 'COREA DEL SUR',
        'URUGUAY', 'ESTADOS FEDERADOS DE MICRONESIA', 'BOLIVIA', 'PANAMÁ',
        'REPÚBLICA DOMINICANA', 'WALLIS Y FUTUNA', 'CABO VERDE', 'VANUATU',
        'VIETNAM', 'JAPÓN', 'ARABIA SAUDITA', 'RUSIA', 'EGIPTO', 'IRÁN',
        'REINO UNIDO', 'COSTA RICA', 'CHINA', 'LITUANIA', 'CURAZAO',
        'ARUBA', 'PARAGUAY', 'CANADÁ', 'TURQUÍA', 'OMÁN'], dtype=object),
 array(['F', 'M', None], dtype=object),
 <IntegerArray>
 [  35,   25,   23,   19,   18,   37,   30,   20,   17, <NA>,   22,   21,   39,
    26,   24,   36,   43,   27,   50,   33,   32,   45,   42,   31,   28,   34,
    48,   29,   57,   51,   47,   40,   38,   14,   52,   15,   44,   60,   41,
    16,   49,   55,   61,   53,   54,   46,   58,   10,   56,   64,   12,   11,
    13,   66,   68,   74,   62,   67,   59,   65,   63,   73,   75,   78,   79,
    71,   69,   80,   70,   72]
 Length: 70, dtype: Int64,
 array(['SB11202010045555', 'SB11202010045719', 'SB11202010070662', ...,
        'SB11202040185843', 'SB11202040168607', 'SB11202040525571'],
       dtype=object),
 array(['COLOMBIA', 'ESPAÑA', 'ESTADOS UNIDOS', 'HONDURAS',
        'PAÍSES BAJOS - HOLANDA', 'ALEMANIA', 'ARGENTINA', 'BRASIL',
        'CHILE', 'COREA DEL NORTE', 'CUBA', 'ECUADOR', 'EL SALVADOR',
        'FRANCIA', 'GUATEMALA', 'HAITI', 'ITALIA', 'MÉXICO', 'NICARAGUA',
        'PORTUGAL', 'VENEZUELA', 'SUIZA', 'PERÚ', 'COREA DEL SUR',
        'URUGUAY', 'ESTADOS FEDERADOS DE MICRONESIA', 'BOLIVIA', 'PANAMÁ',
        'REPÚBLICA DOMINICANA', 'WALLIS Y FUTUNA', 'CABO VERDE', 'VANUATU',
        'VIETNAM', 'JAPÓN', 'ARABIA SAUDITA', 'RUSIA', 'EGIPTO', 'IRÁN',
        'REINO UNIDO', 'COSTA RICA', 'CHINA', 'LITUANIA', 'CURAZAO',
        'ARUBA', 'PARAGUAY', 'CANADÁ', 'TURQUÍA', 'OMÁN'], dtype=object),
 array(['CESAR', 'NARIÑO', 'CAUCA', 'PUTUMAYO', 'RISARALDA', 'ANTIOQUIA',
        None, 'BOGOTÁ', 'META', 'QUINDIO', 'VALLE', 'CUNDINAMARCA',
        'ATLANTICO', 'SANTANDER', 'NORTE SANTANDER', 'CALDAS', 'CASANARE',
        'BOYACA', 'CAQUETA', 'BOLIVAR', 'HUILA', 'CORDOBA', 'ARAUCA',
        'TOLIMA', 'MAGDALENA', 'GUAINIA', 'LA GUAJIRA', 'CHOCO', 'SUCRE',
        'GUAVIARE', 'VICHADA', 'AMAZONAS', 'EXTRANJERO', 'SAN ANDRES',
        'VAUPES'], dtype=object),
 array(['20', '52', '19', '86', '66', '05', None, '11', '50', '63', '76',
        '25', '08', '68', '54', '17', '85', '15', '18', '13', '41', '23',
        '81', '73', '47', '94', '44', '27', '70', '95', '99', '91',
        '99999', '88', '97'], dtype=object),
 array(['SAN DIEGO', 'IPIALES', 'TOTORÓ', ..., 'ZAPATOCA', 'VIOTÁ',
        'AMALFI'], dtype=object),
 array(['20750', '52356', '19824', ..., '68895', '25878', '05031'],
       dtype=object),
 array([1, 0, 6, 5, 2, 4, 3], dtype=int64),
 <IntegerArray>
 [0, <NA>, 1]
 Length: 3, dtype: Int64,
 <IntegerArray>
 [0, <NA>, 1]
 Length: 3, dtype: Int64,
 array(['Mejor', None, 'Igual', 'Peor'], dtype=object),
 array(['No Navega Internet', None, 'Entre 1 y 3 horas', 'Más de 3 horas',
        'Entre 30 y 60 minutos', '30 minutos o menos'], dtype=object),
 array([ 39,  41,  37,  38,  58,  48,  32,  45,  35,  53,  61,  77,  36,
         60,  33,  43,  54,  50,  71,  52,  70,  59,  63,  49,  47,  74,
         42,  44,  64,  66,  30,  68,  73,  67,  46,  57,  40,  51,  65,
         31,  62,  79,  27,  72,  69,  55,  34,  83,  75,  28,  56,  78,
         25,  29,  22,  81, 100,  82,  76,   0,  26,  24,  80,  23]),
 array([  6,   7,   4,   5,  42,  18,   2,  13,   3,  29,  52,  97,  47,
         10,  32,  21,  84,  27,  82,  31,  46,  60,  57,  19,  17,  49,
         93,   9,  12,  62,  71,  11,  26,   1,  76,  89,  14,  39,  41,
         23,  43,  67,  73,  48,   8,  56,  25,  99,  15,  53,  30,  24,
         54,  28,  63,  88,  80,  34,  16,  20,  38,  87,  74, 100,  94,
         45,  50,  36,  69,  61,  75,  22,  44,  64,  68,  33,  66,  40,
         35,  37,  81,  65,  70,  92,  51,  58,  91,  83,  78,  86,  55,
         98,  95,  96,  85,  90,  72,  77,  59,  79]),
 array([2, 3, 1, 4]),
 array([ 32,  41,  36,  42,  50,  44,  39,  29,  53,  65,  26,  48,  24,
         37,  54,  63,  70,  17,  46,  43,  64,  60,  30,  72,  58,  35,
         73,  34,  62,  51,  45,  28,  49,  33,  68,  38,  71,  67,  56,
         27,  23,  40,  21,  55,  57,  80,  74,  25,  77,  75,  66,  52,
         22,  20,  47,  31,  61,  78,  59,  76,  69,  15,  82,  79,  81,
         19,   0, 100,  84,  16,  83,  18]),
 array([  4,  12,   7,  13,  25,  16,  10,   2,  32,  64,   1,  22,  34,
         36,  57,  80,  19,  14,  63,  50,   3,  85,  44,   6,  87,  15,
          9,   5,  56,  27,  17,  65,  35,  23,  26,  74,  46,  84,  71,
         38,  62,  33,  88,  40,  18,  11,  79,  42,  98,  89,  59,  86,
         31,   8,  24,  95,  91,  67,  61,  28,  29,  37,  51,  20,  69,
         83,  54,  49,  30,  21,  73,  60,  43,  41,  93,  78,  72,  99,
         48,  97,  53,  52,  68,  45,  70,  55,  76,  90,  58,  47,  66,
         82,  39,  81,  94,  77,  96,  92, 100,  75]),
 array([1, 2, 3, 4]),
 array([ 35,  39,  33,  38,  50,  44,  27,  28,  42,  57,  68,  45,  43,
         40,  30,  48,  60,  62,  64,  32,  53,  49,  65,  67,  51,  66,
         54,  47,  52,  34,  36,  55,  31,  58,  56,  46,  41,  59,  37,
         29,  69,  61,  71,  72,  78,  23,  24,  76,   0,  26, 100,  77,
         79,  70,  63,  74,  73,  75,  25,  80,  22,  82,  81,  21]),
 array([  6,  10,   4,  32,  20,   1,  15,  49,  81,  21,  17,  12,   2,
         28,  59,  64,  70,  13,   3,  38,  58,  30,  73,  35,  77,  42,
         16,  22,  25,  18,  66,  36,   5,  24,  50,   7,  27,  44,  29,
         53,  46,  45,  71,  75,  23,  56,  14,   8,  78,  34,  11,  31,
         86,  61,  89,  83,  91,  47,  48,  65,  26,  43,  33,  92,  39,
         90,   9,  99,  74,  84,  98,  19,  52,  62,  60,  57,  37,  54,
         55,  41,  51,  79, 100,  85,  80,  87,  76,  82,  69,  40,  97,
         96,  95,  72,  88,  93,  63,  68,  94,  67]),
 array([1, 2, 3, 4]),
 array([ 24,  44,  33,  53,  26,  29,  41,  39,  45,  66,  69,  31,  49,
         43,  50,  56,  58,  37,  62,  68,  47,  51,  61,  27,  65,  73,
         28,  54,  38,  48,  36,  40,  34,  64,  59,  35,  55,  30,  77,
         52,  32,  21,  60,  42,  70,  74,  81,  46,  23,  79, 100,  75,
         57,  71,  63,  67,  25,  22,  18,  80,  76,  72,  78,  19,  20,
          0,  82,  83]),
 array([  1,  23,   7,  42,   2,   3,  18,  15,  25,  75,  82,   5,  33,
          6,  35,  49,  55,  12,  66,  81,  29,  34,  37,  80,  62,  24,
         74,  91,  30,  36,  45,  13,  38,  65,  10,  54,  17,   8,  69,
         72,  57,  83,   9,  11,  22,  46,  43,  97,  40,  21,  19,  61,
         20,  31,  85,  93, 100,   4,  39,  63,  58,  16,  14,  28,  32,
         99,  95,  47,  48,  50,  73,  41,  60,  56,  71,  88,  27,  59,
         68,  77,  87,  26,  44,  53,  51,  86,  96,  64,  89,  70,  76,
         84,  67,  79,  98,  92,  94,  90,  52,  78]),
 array([1, 2, 3, 4]),
 <IntegerArray>
 [  36,   30,   37,   80,   29,   39,   33,   55,  100, <NA>,   35,   31,   47,
    51,   70,   34,   78,   81,   27,   49,   73,   86,   44,   40,   61,   84,
    28,   75,   50,   46,   43,   23,   76,   82,   41,   66,   38,   45,   63,
    69,   57,   79,   32,   48,   71,   62,   26,   53,   87,   42,   77,   22,
    52,   83,   72,   68,   59,   25,   60,   54,   67,   58,   74,   56,   64,
     0,   24,   65,   85,   21,   88]
 Length: 71, dtype: Int64,
 array([  7,   3,   8,  80,   2,  10,   5,  31, 100,   1,   6,  19,  25,
         55,  73,  84,  21,  61,  94,  15,  11,  40,  90,  67,  23,  18,
         14,  85,  12,  48,   9,  17,  44,  53,  34,  76,   4,  49,  22,
         58,  42,  27,  13,  72,  74,  26,  20,  75,  88,  83,  24,  59,
         51,  38,  81,  56,  79,  39,  52,  29,  28,  50,  36,  16,  63,
         32,  62,  82,  66,  65,  78,  45,  70,  37,  43,  30,  35,  71,
         86,  77,  69,  54,  47,  57,  64,  92,  89,  68,  87,  93,  60,
         91,  41,  46,  33,  97,  98,  99,  95,  96]),
 array(['A-', 'B+', 'A1', 'B1', 'A2'], dtype=object),
 array([164, 202, 162, 188, 274, 198, 160, 207, 211, 295, 360, 172, 244,
        237, 260, 307, 178, 306, 345, 174, 220, 257, 322, 315, 228, 193,
        171, 305, 362, 248, 209, 349, 192, 287, 200, 189, 239, 186, 151,
        327, 290, 249, 203, 243, 265, 229, 173, 185, 313, 158, 210, 276,
        341, 321, 289, 161, 254, 181, 238, 190, 148, 194, 293, 212, 379,
        224, 269, 208, 179, 187, 205, 219, 223, 246, 123, 286, 197, 168,
        343, 324, 256, 150, 251, 302, 356, 240, 370, 368, 284, 296, 361,
        233, 157, 266, 320, 196, 264, 245, 177, 152, 385, 195, 277, 355,
        235, 426, 330, 340, 382, 288, 262, 242, 310, 255, 272, 142, 270,
        263, 213, 282, 146, 166, 308, 336, 170, 176, 250, 221, 139, 319,
        312, 217, 247, 303, 334, 227, 236, 167, 348, 183, 165, 218, 201,
        273, 252, 234, 326, 182, 180, 304, 184, 133, 267, 332, 175, 317,
        259, 138, 144, 231, 222, 294, 318, 292, 226, 225, 155, 300, 367,
        298, 329, 159, 278,  69, 191, 268, 323, 429, 169, 199, 156, 258,
        275, 216, 149, 375, 153, 381, 427, 283, 363, 299, 253, 232, 378,
        346, 204, 359, 163, 333, 230, 261, 393, 347, 335, 285, 396, 344,
        279, 338, 350, 353, 280, 215,  91, 358, 241, 398, 291, 352, 301,
        325, 271, 145, 214, 351, 147, 369, 377, 328, 281, 206, 357, 297,
        354, 342, 366, 339, 121, 365, 140, 311, 137, 388,  14, 373, 316,
        337, 403, 376, 314, 412, 364, 383, 380, 400, 372, 331, 309, 143,
        389, 374, 371, 392, 405, 407, 410, 387,  93, 386, 416, 413, 384,
        430, 154, 390, 411, 409, 454, 455, 424, 439, 394, 404, 419, 420,
        402, 401, 425, 391, 395, 423, 422, 418, 428, 415, 475, 397, 468,
        408, 421, 432, 406, 437, 457, 445, 471, 414, 431, 450, 442, 134,
        448, 446, 449, 435, 141, 438, 132, 417, 443, 440, 433,   0, 434,
        472, 399, 479,  12,  72,  25, 465,  28, 103, 136, 135, 129,  24,
         95, 126,  23, 112, 447, 125, 131, 114, 127, 458, 128,  96,  76,
        104,  29,  27, 130,  78,  73, 122,  48, 115, 444,  92, 491,  57,
         99, 466,  35, 111, 120,  97, 473, 441,  80,  59,  32,  98, 470,
        117, 452,  77, 492,  67,  30,  33,  21, 436, 100, 110, 106,  88,
        108,  20, 461, 500, 113, 460, 462,  22, 463,  70,  40, 119,  11,
        107, 456,  46,  83,  45, 476,  26,  61, 477,  55,  94,  74,  87,
        459, 102,  39,  54, 464,  60,  90,  62,  89,  36,  38,  58,  53,
        467,  42,  51,  37, 105]),
 <IntegerArray>
 [   2,   10,    6,   39,    9,   11,   13,   50,   89, <NA>,
  ...
    84,   85,   87,   79,   77,   91,   98,   61,   94,   58]
 Length: 101, dtype: Int64]

#### De la información resultante y de acuerdo para el análisis se dejaran los resultados solo de Colombia para analisar el programa del gobierno

In [303]:
df_saber_union_v3 = df_saber_union_v2[ df_saber_union_v2['ESTU_NACIONALIDAD'] == 'COLOMBIA']

In [307]:
df_saber_union_v4 = df_saber_union_v3[ df_saber_union_v3['ESTU_EDAD'] != np.nan]
df_saber_union_v4.head(3)

,id,ESTU_NACIONALIDAD,ESTU_GENERO,ESTU_EDAD,ESTU_CONSECUTIVO,ESTU_PAIS_RESIDE,ESTU_DEPTO_RESIDE,ESTU_COD_RESIDE_DEPTO,ESTU_MCPIO_RESIDE,ESTU_COD_RESIDE_MCPIO,...,PERCENTIL_C_NATURALES,DESEMP_C_NATURALES,PUNT_SOCIALES_CIUDADANAS,PERCENTIL_SOCIALES_CIUDADANAS,DESEMP_SOCIALES_CIUDADANAS,PUNT_INGLES,PERCENTIL_INGLES,DESEMP_INGLES,PUNT_GLOBAL,PERCENTIL_GLOBAL
0,00000000-0000-0000-B30A-5F2FE234EE93,COLOMBIA,F,35,SB11202010045555,COLOMBIA,CESAR,20,SAN DIEGO,20750,...,6,1,24,1,1,36,7,A-,164,2
1,00000000-0000-0000-F3E5-3E18272D8C28,COLOMBIA,F,25,SB11202010045719,COLOMBIA,NARIÑO,52,IPIALES,52356,...,10,1,44,23,2,30,3,A-,202,10
2,00000000-0000-0000-2E67-572B8AFB010B,COLOMBIA,F,23,SB11202010070662,COLOMBIA,CAUCA,19,TOTORÓ,19824,...,4,1,24,1,1,30,3,A-,162,2

In [308]:
df_saber_union_v4.shape

(513198, 32)

In [312]:
df_saber_union_v4.to_csv('saber_11_union.csv', index=False)

In [331]:
df_mintic_v3.to_csv('Mintic_datos_limpios.csv', index=False)