# Análisis y resolución de preguntas

In [18]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

##### Se realiza la carga de los datos ya transformados y limpiados para analizar las preguntas iniciales

In [9]:
df_mintic_final = pd.read_csv('Mintic_datos_limpios.csv')
df_mintic_final.head(3)

,id,FECHA_CORTE,DEPARTAME_NOMBRE,MUNICIPIO_NOMBRE,ESTADO_FORMACION,ESTADOS,ESTRATO_SOCIAL,EDAD,GENERO,RUTA,GRADO
0,00000000-0000-0000-C200-BA92F054D3BD,2021-10-01,QUINDIO,ARMENIA,ASPIRANTE,ASPIRANTES,3,29,MASCULINO,RUTA 2,-1
1,00000000-0000-0000-99AA-2E3888BFFB24,2021-10-01,QUINDIO,ARMENIA,ASPIRANTE,ASPIRANTES,3,29,MASCULINO,RUTA 2,-1
2,00000000-0000-0000-D72E-7CF7C7526A22,2021-10-01,QUINDIO,ARMENIA,ASPIRANTE,ASPIRANTES,3,29,MASCULINO,RUTA 2,-1

In [27]:
df_saber_11 = pd.read_csv('Saber_11_union.csv')

#### ¿Qué población se ha inscrito en el programa misión 100 mil programadores del MINTic en el 2020?

Registros al año 2020

In [11]:
df_mintic_final.groupby(['FECHA_CORTE']).size()

FECHA_CORTE
2020-12-31    137388
2021-10-01    292311
dtype: int64

In [16]:
mintic_2020 = df_mintic_final[df_mintic_final['FECHA_CORTE'] == '2020-12-31']
mintic_2020.shape

(137388, 11)

Según el análisis de información siguiente:

De un total 137.388
* 128.857 aspirantes se inscribieron para el programa del Mintic
* 5.855 fueron Matriculados al programa

In [17]:
mintic_2020.groupby(['FECHA_CORTE', 'ESTADO_FORMACION']).size()

FECHA_CORTE  ESTADO_FORMACION
2020-12-31   ASPIRANTE           128857
             GRADUADO              2676
             MATRICULADO           5855
dtype: int64

In [24]:
etiquetas = mintic_2020['ESTADO_FORMACION'].unique()
etiquetas

array(['ASPIRANTE', 'GRADUADO', 'MATRICULADO'], dtype=object)

#### ¿Cuántos estudiantes de estudios básicos se postularon para entrar a las rutas 1 y 2 de la misión 100 mil programadores del MINTic en el 2020?

De los estudiantes aspirantes en el 2020:
* Matriculados - admitidos al programa en la **ruta 1**: 1.650
* Matriculados - admitidos al programa en la **ruta 2**: 4.205

In [25]:
mintic_2020.groupby(['RUTA', 'ESTADO_FORMACION']).size()

RUTA    ESTADO_FORMACION
RUTA 1  ASPIRANTE            12835
        GRADUADO               946
        MATRICULADO           1650
RUTA 2  ASPIRANTE           116022
        GRADUADO              1730
        MATRICULADO           4205
dtype: int64

In [70]:
mintic_2020_RUTA1 = mintic_2020[mintic_2020['RUTA']== 'RUTA 1']
mintic_2020_RUTA1.groupby(['RUTA','ESTADO_FORMACION']).size()

RUTA    ESTADO_FORMACION
RUTA 1  ASPIRANTE           12835
        GRADUADO              946
        MATRICULADO          1650
dtype: int64

#### ¿Qué resultados se obtuvieron en saber 11 para el 2020?

In [26]:
df_saber_11.head(3)

,id,ESTU_NACIONALIDAD,ESTU_GENERO,ESTU_EDAD,ESTU_CONSECUTIVO,ESTU_PAIS_RESIDE,ESTU_DEPTO_RESIDE,ESTU_COD_RESIDE_DEPTO,ESTU_MCPIO_RESIDE,ESTU_COD_RESIDE_MCPIO,...,PERCENTIL_C_NATURALES,DESEMP_C_NATURALES,PUNT_SOCIALES_CIUDADANAS,PERCENTIL_SOCIALES_CIUDADANAS,DESEMP_SOCIALES_CIUDADANAS,PUNT_INGLES,PERCENTIL_INGLES,DESEMP_INGLES,PUNT_GLOBAL,PERCENTIL_GLOBAL
0,00000000-0000-0000-B30A-5F2FE234EE93,COLOMBIA,F,35,SB11202010045555,COLOMBIA,CESAR,20.0,SAN DIEGO,20750.0,...,6,1,24,1,1,36.0,7,A-,164,2.0
1,00000000-0000-0000-F3E5-3E18272D8C28,COLOMBIA,F,25,SB11202010045719,COLOMBIA,NARIÑO,52.0,IPIALES,52356.0,...,10,1,44,23,2,30.0,3,A-,202,10.0
2,00000000-0000-0000-2E67-572B8AFB010B,COLOMBIA,F,23,SB11202010070662,COLOMBIA,CAUCA,19.0,TOTORÓ,19824.0,...,4,1,24,1,1,30.0,3,A-,162,2.0

##### Se consultan y eliminan regstros que en su puntaje global dio como resultado 0 ya que no tiene información de puntajes en ningún área evaluada

In [46]:
df_saber_11_result0 = df_saber_11[df_saber_11['PUNT_GLOBAL'] == 0]
print('puntaje global: ',df_saber_11_result0['PUNT_GLOBAL'].unique())
print('puntaje percentil global: ',df_saber_11_result0['PERCENTIL_GLOBAL'].unique())
print('puntaje desempeño ciencias naturales: ',df_saber_11_result0['DESEMP_C_NATURALES'].unique())
print('puntaje desempeño ciencias ciudadanas: ',df_saber_11_result0['DESEMP_SOCIALES_CIUDADANAS'].unique())
print('puntaje desempeño ingles: ',df_saber_11_result0['DESEMP_INGLES'].unique())

puntaje global:  [0]
puntaje percentil global:  [1.]
puntaje desempeño ciencias naturales:  [1]
puntaje desempeño ciencias ciudadanas:  [1]
puntaje desempeño ingles:  ['A-']

In [47]:
df_saber_11_v2 = df_saber_11[df_saber_11['PUNT_GLOBAL'] != 0]
df_saber_11_v2.shape

(513120, 32)

In [48]:
df_saber_11_v2.columns

Index(['id', 'ESTU_NACIONALIDAD', 'ESTU_GENERO', 'ESTU_EDAD',
       'ESTU_CONSECUTIVO', 'ESTU_PAIS_RESIDE', 'ESTU_DEPTO_RESIDE',
       'ESTU_COD_RESIDE_DEPTO', 'ESTU_MCPIO_RESIDE', 'ESTU_COD_RESIDE_MCPIO',
       'FAMI_ESTRATOVIVIENDA', 'FAMI_TIENEINTERNET', 'FAMI_TIENECOMPUTADOR',
       'FAMI_SITUACIONECONOMICA', 'ESTU_DEDICACIONINTERNET',
       'PUNT_LECTURA_CRITICA', 'PERCENTIL_LECTURA_CRITICA',
       'DESEMP_LECTURA_CRITICA', 'PUNT_MATEMATICAS', 'PERCENTIL_MATEMATICAS',
       'DESEMP_MATEMATICAS', 'PUNT_C_NATURALES', 'PERCENTIL_C_NATURALES',
       'DESEMP_C_NATURALES', 'PUNT_SOCIALES_CIUDADANAS',
       'PERCENTIL_SOCIALES_CIUDADANAS', 'DESEMP_SOCIALES_CIUDADANAS',
       'PUNT_INGLES', 'PERCENTIL_INGLES', 'DESEMP_INGLES', 'PUNT_GLOBAL',
       'PERCENTIL_GLOBAL'],
      dtype='object')

##### Interpretación de resultados pruebas Saber 11

* El puntaje global va de **0 a 500** puntos sin decimales.
* El puntaje de cada prueba va de **0 a 100**puntos sin decimales.
* Los niveles de desempeño definidos son: Insuficiente, Mínimo, Satisfactorio y Avanzado. Para todas las áreas, excepto Inglés. Son 4 niveles de desempeño donde 1 es el nivel más bajo y 4 el más alto.
* Los niveles de desempeño definidos para Inglés son: A-, A1, A2, B1, B+.
* Los niveles de desempeño definen lo que sabe y sabe hacer el estudiante.
* Los percentiles indican cómo se encuentra el resultado del evaluado con respecto a los resultados de los estudiantes del país: Ya no vas a encontrar puestos sino percentiles, estos se definen como un puesto relativo.

In [49]:
df_saber_11_v2.groupby(['ESTU_NACIONALIDAD'])['PUNT_GLOBAL'].agg(['mean','max','min'])

                         mean  max  min
ESTU_NACIONALIDAD
COLOMBIA           249.317364  500   11

In [50]:
df_saber_11_v2.groupby(['ESTU_GENERO'])['PUNT_GLOBAL'].agg(['mean','max','min'])

                   mean  max  min
ESTU_GENERO
F            246.082831  492   11
M            253.214072  500   12

#### ¿Cómo les va en las pruebas de matemáticas y lógica a los estudiantes 2020?

Puntaje matemáticas

In [54]:
df_saber_11_v2.groupby(['ESTU_GENERO'])['PUNT_MATEMATICAS'].agg(['mean','max','min'])

                  mean  max  min
ESTU_GENERO
F            49.859924  100    0
M            52.830045  100    0

Desempeño matemáticas

In [56]:
df_saber_11_v2.groupby(['ESTU_GENERO'])['DESEMP_MATEMATICAS'].agg(['mean','max','min'])

                 mean  max  min
ESTU_GENERO
F            2.404954    4    1
M            2.571294    4    1

### Análisis según condiciones de vivienda del estudiante para las pruebas matemáticas

#### Estrato vivivenda

In [57]:
df_saber_11_v2.groupby(['FAMI_ESTRATOVIVIENDA'])['PUNT_GLOBAL'].agg(['mean','max','min'])

                            mean  max  min
FAMI_ESTRATOVIVIENDA
0                     225.098908  447   11
1                     236.935463  500   98
2                     250.436230  500   23
3                     262.735574  475   12
4                     276.225207  492   83
5                     280.037944  479  128
6                     279.812300  470  121

In [59]:
df_saber_11_v2.groupby(['FAMI_ESTRATOVIVIENDA'])['PUNT_MATEMATICAS'].agg(['mean','max','min'])

                           mean  max  min
FAMI_ESTRATOVIVIENDA
0                     46.232223  100    0
1                     48.743795  100    0
2                     51.512483  100    0
3                     53.853682  100    0
4                     56.413591  100    0
5                     57.046832  100   17
6                     56.973308  100   18

In [60]:
df_saber_11_v2.groupby(['FAMI_ESTRATOVIVIENDA'])['DESEMP_MATEMATICAS'].agg(['mean','max','min'])

                          mean  max  min
FAMI_ESTRATOVIVIENDA
0                     2.188231    4    1
1                     2.344713    4    1
2                     2.505234    4    1
3                     2.629048    4    1
4                     2.743738    4    1
5                     2.764357    4    1
6                     2.748238    4    1

#### Si la familia tiene o no tiene Internet

In [61]:
df_saber_11_v2.groupby(['FAMI_TIENEINTERNET'])['PUNT_MATEMATICAS'].agg(['mean','max','min'])

                         mean  max  min
FAMI_TIENEINTERNET
0.0                 46.437708  100    0
1.0                 53.298253  100    0

In [62]:
df_saber_11_v2.groupby(['FAMI_TIENEINTERNET'])['DESEMP_MATEMATICAS'].agg(['mean','max','min'])

                        mean  max  min
FAMI_TIENEINTERNET
0.0                 2.207519    4    1
1.0                 2.599978    4    1

#### Si la familia tiene o no tiene computador

In [64]:
df_saber_11_v2.groupby(['FAMI_TIENECOMPUTADOR'])['PUNT_MATEMATICAS'].agg(['mean','max','min'])

                           mean  max  min
FAMI_TIENECOMPUTADOR
0.0                   47.214174  100    0
1.0                   53.857000  100    0

In [65]:
df_saber_11_v2.groupby(['FAMI_TIENECOMPUTADOR'])['DESEMP_MATEMATICAS'].agg(['mean','max','min'])

                          mean  max  min
FAMI_TIENECOMPUTADOR
0.0                   2.255302    4    1
1.0                   2.629957    4    1